In [1]:
import pandas as pd

In [5]:
df = pd.read_csv(r"C:\Users\pc\Desktop\sales.csv")
df.head()

        date  gender      region  sales
0  8/22/2022    Male  North-West  20381
1   3/5/2022    Male  North-East  14495
2   2/9/2022    Male  North-East  13510
3  6/22/2022    Male  North-East  15983
4  8/10/2022  Female  North-West  15007

In [11]:
x = df.groupby('region')
x

In [13]:
x.ngroups

3

In [15]:
x.groups

{'North-East': [1, 2, 3, 12, 13, 14, 15, 18, 19, 23, 24, 25, 26, 28, 31, 35, 40, 41, 45, 50, 51, 58, 59, 60, 63, 64, 67, 68, 72, 75, 76, 77, 80, 82, 83, 85, 87, 92, 94, 100, 105, 108, 109, 112, 113, 114, 115, 120, 121, 125, 127, 130, 134, 138, 139, 140, 141, 142, 146, 149, 155, 157, 164, 165, 176, 177, 179, 180, 188, 191, 193, 195, 199, 201, 205, 207, 211, 216, 218, 222, 224, 228, 231, 236, 242, 243, 246, 249, 254, 256, 259, 264, 265, 271, 272, 280, 283, 287, 288, 289, ...], 'North-West': [0, 4, 7, 11, 16, 17, 21, 29, 30, 34, 36, 38, 39, 42, 43, 44, 46, 48, 49, 52, 55, 56, 62, 66, 70, 71, 74, 79, 88, 89, 90, 91, 95, 98, 99, 103, 106, 116, 117, 119, 122, 123, 128, 129, 132, 137, 143, 144, 147, 148, 151, 153, 154, 156, 160, 161, 169, 171, 175, 178, 184, 185, 186, 198, 204, 206, 209, 212, 217, 221, 223, 225, 230, 233, 234, 235, 237, 240, 244, 251, 252, 253, 255, 260, 261, 263, 266, 267, 277, 278, 281, 285, 290, 291, 296, 297, 300, 318, 320, 321, ...], 'South': [5, 6, 8, 9, 10, 20, 22, 27, 32, 33, 37, 47, 53, 54, 57, 61, 65, 69, 73, 78, 81, 84, 86, 93, 96, 97, 101, 102, 104, 107, 110, 111, 118, 124, 126, 131, 133, 135, 136, 145, 150, 152, 158, 159, 162, 163, 166, 167, 168, 170, 172, 173, 174, 181, 182, 183, 187, 189, 190, 192, 194, 196, 197, 200, 202, 203, 208, 210, 213, 214, 215, 219, 220, 226, 227, 229, 232, 238, 239, 241, 245, 247, 248, 250, 257, 258, 262, 268, 269, 270, 273, 274, 275, 276, 279, 282, 284, 286, 292, 294, ...]}

In [17]:
x.groups.keys()

dict_keys(['North-East', 'North-West', 'South'])

In [21]:
x.get_group('South')

           date  gender region  sales
5      9/6/2022    Male  South  21792
6     8/21/2022    Male  South  20113
8    11/22/2022    Male  South  14594
9     1/16/2022  Female  South  24114
10   12/21/2022    Male  South  35154
..          ...     ...    ...    ...
972    6/9/2022    Male  South  22254
979  11/24/2022  Female  South  25591
981   12/5/2022    Male  South  34334
985   12/1/2022  Female  South  21282
994   9/29/2022    Male  South  21255

[331 rows x 4 columns]

In [23]:
averages = {}
for region in df['region'].unique():
    tempdf = df[df['region'] == region]
    average = tempdf['sales'].mean()
    averages[region] = [average]
aggregate_df = pd.DataFrame.from_dict(averages, orient='index', columns=['Average Sales'])
print(aggregate_df)

            Average Sales
North-West   15257.732919
North-East   17386.072046
South        24466.864048

In [25]:
std = df.groupby('region')['sales'].std()
std

region
North-East    2032.541552
North-West    3621.456493
South         5253.702513
Name: sales, dtype: float64

In [27]:
import numpy as np

In [29]:
aggs = df.groupby('region')['sales'].agg([np.mean,np.std,np.var])
aggs

C:\Users\pc\AppData\Local\Temp\ipykernel_8972\3342482241.py:1: FutureWarning: The provided callable <function mean at 0x000002164DEFE0C0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  aggs = df.groupby('region')['sales'].agg([np.mean,np.std,np.var])
C:\Users\pc\AppData\Local\Temp\ipykernel_8972\3342482241.py:1: FutureWarning: The provided callable <function std at 0x000002164DEFE200> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  aggs = df.groupby('region')['sales'].agg([np.mean,np.std,np.var])
C:\Users\pc\AppData\Local\Temp\ipykernel_8972\3342482241.py:1: FutureWarning: The provided callable <function var at 0x000002164DEFE340> is currently using SeriesGroupBy.var. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "var" instead.
  aggs = df.groupby('region')['sales'].agg([np.mean,np.std,np.var])

                    mean          std           var
region
North-East  17386.072046  2032.541552  4.131225e+06
North-West  15257.732919  3621.456493  1.311495e+07
South       24466.864048  5253.702513  2.760139e+07

In [31]:
df['percentage of regional sales'] = df['sales']/df.groupby('region')['sales'].transform('sum')

In [33]:
df.head()

        date  gender      region  sales  percentage of regional sales
0  8/22/2022    Male  North-West  20381                      0.004148
1   3/5/2022    Male  North-East  14495                      0.002403
2   2/9/2022    Male  North-East  13510                      0.002239
3  6/22/2022    Male  North-East  15983                      0.002649
4  8/10/2022  Female  North-West  15007                      0.003055

In [35]:
# Transforming a DataFrame with GroupBy
df['ranked'] = df.groupby('region')['sales'].rank(ascending=False)
df.sort_values(by='sales', ascending=False).head()

           date  gender region  sales  percentage of regional sales  ranked
61    2/22/2022  Female  South  43775                      0.005405     1.0
673   4/19/2022    Male  South  37878                      0.004677     2.0
111  10/31/2022  Female  South  36444                      0.004500     3.0
892    9/5/2022    Male  South  35723                      0.004411     4.0
136   2/27/2022    Male  South  35485                      0.004382     5.0

In [37]:
# Filtering Rows Where the Group's Average Sale Price is Less Than 20,000
df = df.groupby('region').filter(lambda x: x['sales'].mean() < 20000)
print(df.head())

        date  gender      region  sales  percentage of regional sales  ranked
0  8/22/2022    Male  North-West  20381                      0.004148    26.0
1   3/5/2022    Male  North-East  14495                      0.002403   315.0
2   2/9/2022    Male  North-East  13510                      0.002239   338.0
3  6/22/2022    Male  North-East  15983                      0.002649   266.0
4  8/10/2022  Female  North-West  15007                      0.003055   174.5

In [39]:
# Grouping Data by Multiple Columns
sums = df.groupby(['region', 'gender']).sum()
print(sums.head())

                                                                date    sales  \
region     gender
North-East Female  11/25/20228/14/20222/24/20228/3/20227/6/20224/...  3051132
           Male    3/5/20222/9/20226/22/20222/3/20221/15/20228/19...  2981835
North-West Female  8/10/20224/30/20227/30/20228/7/202210/28/20221...  2455899
           Male    8/22/20227/8/20224/18/20224/18/20225/6/20224/8...  2457091

                   percentage of regional sales   ranked
region     gender
North-East Female                      0.505743  32087.0
           Male                        0.494257  28291.0
North-West Female                      0.499879  26031.5
           Male                        0.500121  25971.5

In [41]:
# Grouping by 'region' and 'gender'
groups = df.groupby(['region', 'gender'])

# Select only numeric columns
numeric_columns = df.select_dtypes(include='number').columns

# Apply the sum operation only to numeric columns
sums = groups[numeric_columns].sum()

# View the result
print(sums)

                     sales  percentage of regional sales   ranked
region     gender
North-East Female  3051132                      0.505743  32087.0
           Male    2981835                      0.494257  28291.0
North-West Female  2455899                      0.499879  26031.5
           Male    2457091                      0.500121  25971.5

In [43]:
# Ranking Sales by Region and by Gender
df['rank'] = df.groupby(['region', 'gender'])['sales'].rank(ascending=False)
print(df.head())

        date  gender      region  sales  percentage of regional sales  ranked  \
0  8/22/2022    Male  North-West  20381                      0.004148    26.0
1   3/5/2022    Male  North-East  14495                      0.002403   315.0
2   2/9/2022    Male  North-East  13510                      0.002239   338.0
3  6/22/2022    Male  North-East  15983                      0.002649   266.0
4  8/10/2022  Female  North-West  15007                      0.003055   174.5

    rank
0   11.0
1  154.0
2  168.0
3  138.0
4   89.5